@CHARSET "UTF-8";
.dd-login{
	background: url(../images/1.jpg)no-repeat 0px 0px;
	min-height:750px;
	background-size: 100%;
	text-align: center;
	color: #fff
}

#Login{
	display: none; 
}

.text-primary {
  color: #1B242F;
}

.btn-primary {
  color: #fff;
  background-color: #1B242F;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1B242F;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #1B242F;
  background-color: #fff;
}

input[type="checkbox"] {
  margin: 4px 0 0 4px;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
  /* New-MA  */
  width: 15px;
  height: 15px;
}